<% var content = `
  <div class="jumbotron no-bottom-margin">
    <h1 class="devices_headline">Devices</h1>
    <div id="devices-container"></div>
  </div>
`; %>

<%- include('../layout', { content: content }) %>
